.movie{
    width: 100%;
    height: 600px;
    border-radius: 5px;
}
.home{
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: inherit;
    color: white;
    border: solid 1px white;
    transition: 0.9s;
}
.home:hover{
    transition: 0.9s;
    background-color: white;
    color: inherit;
    border: none;
    color: orange;
}
.spin{
    width: 60px;
    height: 60px;
    position: fixed;
    top: 19px;
    right: 21px;
    z-index: -1;
}